{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome {{ email }}, this are your events!
</h1>  

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Event</th>
          <th scope="col">Category</th>
          <th scope="col">Location</th>
          <th scope="col">Address</th>
          <th scope="col">Initial Date</th>
          <th scope="col">Final Date</th>
          <th scope="col">Attendance</th>
          <th scope="col">Created On</th>
          <th scope="col">View</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      {% for event in events %}
      <tr>
      <th scope="row">{{event.event}}</th>
      <td>{{event.category}}
      </td>
      <td>{{event.location}}
      </td>
      <td>{{event.address}}
      </td>
      <td>{{event.initial_date}}
      </td>
      <td>{{event.final_date}}
      </td>
      <td>{{event.attendance}}
      </td>
      <td>{{event.created_on}}
      </td>
      <td><a href="{{ url_for('auth.viewevent', event_id=event.id ) }}">View</a>
      </td>
      <td><a href="{{ url_for('auth.editevent', event_id=event.id) }}">Edit</a>
      </td>
      <td><a href="{{ url_for('auth.deleteevent_post', event_id=event.id ) }}">Delete</a>
      </td>
      </tr>
      {% endfor %}
    </table>
    
{% endblock %}